<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil</title>
</head>
<body>
<h1>Accueil du test</h1>
{# ceci est un commentaire backend, donc non visible dans l'html #}
<p>{{ message }}</p>
<h3>for in</h3>
<p>
    {# tant qu'on a des éléments dans tab #}
    {% for item in tab %}
        {# simple affichage #}
        {{ item }}
        {# Tant qu'on est pas au dernier tour de la boucle #}
        {% if not loop.last %}| {% endif %}

    {# Si le tableau est vide! #}
    {% else %}
        Rien dans le tableau
    {% endfor %}

</p>
</body>
</html>